/* Reset Settings */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  /* scroll-behavior: smooth; */
}

/* Set core body defaults */

html,
body {
  /* height: 100%; */
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ////////////////////////////////////////////////// */

/* Custom-Fonts Here */

@font-face {
  font-family: "Champagne & Limousines";
  src: url("fonts/Champagne-&-Limousines.ttf");
}

@font-face {
  font-family: "Champagne & Limousines Italic";
  src: url("fonts/Champagne-&-Limousines-Italic.ttf");
}

@font-face {
  font-family: "Champagne & Limousines Bold";
  src: url("fonts/Champagne-&-Limousines-Bold.ttf");
}

@font-face {
  font-family: "Champagne & Limousines Bold Italic";
  src: url("fonts/Champagne-&-Limousines.ttf");
}

font-family: "Noto Sans", sans-serif;
font-family: "Press Start 2P", cursive;

/* /////////////////////////////////////////////
*/

/* reset & Prettify (delete this) */

body {
  font-family: "Noto Sans", sans-serif;
  background: rgb(250, 250, 250);
}

/* =====================
    Base styles
====================== */
.main-header {
  width: 100%;
  background: rgb(157, 192, 139);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.4);
  position: fixed;
}
.menu-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 15px;
}
.logo-wrap {
  width: 65px;
  min-height: 40px;
}
.logo-wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

/* =====================
    Mobile Nav closed
====================== */
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;

  transition: height 0s ease-out 0.4s, opacity 0.2s ease-out 0.2s,
    padding-left 0.2s ease-in 0s;
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 400;

  overflow: hidden;
  background-color: rgb(240, 240, 240);

  padding-left: 100%;
}
.nav-item {
  display: block;
  padding: 7px 10px;
  margin: 5px auto;
  color: rgb(78, 110, 129);
  font-size: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.nav-item:first-of-type {
  margin-top: 20vh;
}

/* Hamburger btn */
.drop-trigger {
  /* Changing these will automatically adjust bars */
  height: 34px;
  width: 50px;

  /* For btn bars */
  position: relative;
  background: rgba(0, 0, 0, 0);
  transition: all 0.1s ease-out 0s;
  z-index: 450;
  border-width: 0;
  margin-left: auto;
}
/* Hamburger bars */
.drop-trigger .btn-bar {
  position: absolute;
  display: block;
  top: 20%;
  left: 50%;
  height: 4px;
  width: 60%;
  transition: all 0.4s ease-in 0s;
  background: rgb(250, 250, 250);
  margin: 0 auto;
  transform-origin: 50% 50%;
  transform: translateX(-50%) translateY(-0%) rotate(-0deg);
}
.btn-bar.middle {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}
.btn-bar.bottom {
  top: calc(80% - 3px);
}

/* Fills background of nav and is linked to the checkbox toggle */
.nav-revert {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 1;
}

/* Checkbox used for toggle */
#nav-tog {
  display: none;
}

/* =====================
    Mobile Nav open
====================== */
#nav-tog:checked ~ .drop-trigger .btn-bar {
  transition-timing-function: ease-out;
}
#nav-tog:checked ~ .drop-trigger .btn-bar {
  top: 50%;
  background: rgb(30, 30, 30);
}
#nav-tog:checked ~ .drop-trigger .btn-bar.top {
  transform: translateX(-50%) translateY(-50%) rotate(-315deg);
}
#nav-tog:checked ~ .drop-trigger .btn-bar.middle {
  transform: translateX(-50%) translateY(-50%) rotate(-225deg);
}
#nav-tog:checked ~ .drop-trigger .btn-bar.bottom {
  transform: translateX(-50%) translateY(-50%) rotate(-225deg);
}
#nav-tog:checked ~ .main-nav {
  transition: height 0s ease-in 0s, opacity 0.2s ease-in 0s,
    padding-left 0.23s ease-out 0.21s;
  opacity: 1;
  height: 100vh;
  padding-left: 0%;
}

/* ============================
    Large screen nav
============================= */
@media screen and (min-width: 800px) {
  /* Hides mobile-specific elements */
  .drop-trigger,
  .nav-revert {
    display: none;
  }
  .main-nav {
    height: auto;
    position: relative;
    padding-left: 0%;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 1;
    background: rgba(0, 0, 0, 0);
  }
  .nav-item:first-of-type {
    margin-top: 0;
  }
  .nav-item {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0 5px;
    color: #0f3814;
    width: auto;
  }
}


/* /////////////////--Buttons--///////////////////// */
.button {
  display: inline-block;
  width: 170px;
  background-color: #e8f3fa;
  color: #aa0a0a;
  padding: 15px 32px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  /* margin:0 auto; */
  margin-top: 30px;
  /* margin-left: 100px; */
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  box-shadow: #0f0f0f 2px 2px 2px;
}


.button-2 {
  display: inline-block;
  width: 170px;
  background-color: #9DC08B;
  color: #aa0a0a;
  padding: 15px 32px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  /* margin:0 auto; */
  margin-top: 30px;
  margin-left: 100px;
  text-align: center;
  box-shadow: #0f0f0f 2px 2px 2px;
}

.button:hover {
  background-color: #f9dbbb;
  color: #4e6e81;
}

/* //////////////////--Links--///////////////// */

.main-nav a {
  text-decoration: none;
}

.main-header a:hover {
  color: #f9dbbb;
}


/* /////////////// Sections Settings ///////////// */

/* //////--Scroll Snap Sections--/////// */

html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 70px;
}

.section-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-item-1,
.section-item-2,
.section-item-3,
.section-item-4 {
  height: 100vh;
  width: 99.2vw;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section-item-1 {
  background-image: url("images/pattern-1.png");
  background-size: contain;
  margin-top: 50px;
}

.section-item-2 {
  background-image: url("images/pattern-02.png");
  background-size: contain;
}

.section-item-3 {
  background-image: url("images/pattern-03.png");
  background-size: contain;
  
}

.section-item-4 {
  background-image: url("images/pattern-06.png");
  background-size: contain;
}




/* //////////////--Hero Section--/////////////// */

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(43, 15, 56, 0.9);
  height: 100vh;
}

.hero-image img {
  width: 700px;
  height: auto;
  padding-top: 0px;

}


.hero-text h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: rgb(249, 219, 187);
}

.hero-text h4 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: rgb(249, 219, 187);
}


/* ////////////--ICM Section--////////////// */

.icm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(78, 110, 129, 0.9) ;
  height: 100vh;
}

.icm-image img {
  width: 500px;
  height: auto;
}


.icm-text h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: rgb(249, 219, 187);
}

.icm-text h4 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: rgb(249, 219, 187);

}


/* /////////--Media Section--///////// */

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(254, 200, 104, 0.5);
  height: 100vh;
}

.media-image img {
  width: 450px;
  height: auto;
}


.media-text h1 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(43, 15, 56);
}

.media-text h4 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: rgb(43, 15, 56);

}

/* //////////--Portfolio--////////// */

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(157, 192, 139, 0.9);
  height: 100vh;
}

.portfolio-image img {
  width: 400px;
  height: auto;
}


.portfolio-text h1 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(43, 15, 56);
}

.portfolio-text h4 {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: rgb(43, 15, 56);
}


/* ////////---Footer--///////// */

footer {

  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-color: rgb(118, 76, 138);
  width: 99.2vw;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;

}

.footer-item {
 
  flex: 1;

}


.footer-logo p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding-left: 20px;
  color: #e8f3fa;

}

.footer-logo img {
  width: 150px;
  height: auto;
}


.footer-item h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: #e8f3fa;
}

.social h2 {
  padding-bottom: 30px;
}

.form h2,p {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  color: #0f3814;
}



.footer-base {
  background-color: rgb(43, 15, 56);
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #f9dbbb;
  height: 40px;
  padding-top: 10px;
    }

/* /////--Newsletter Form--////// */
/* Style the form element with a border around it */
form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #9DC08B;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}


/* //////---social media icons-----/////// */
/* Style all font awesome icons */
.fa {
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #9DC08B;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #9DC08B;
  color: white;
}

.fa-github {
  background-color: #9DC08B;
  color: white;
}

.fa-instagram {
  background-color: #9DC08B;
  color: white;

}
